.width-23 {
    width: 23%;
}

.width-70 {
    width: 70%;
}

.margin-left-1 {
    margin-left: 1%;
}

.auditmate-color {
    color: rgb(75, 136, 35);
}

.grey-text {
    color: rgba(145, 145, 145, 1);
}